# Python venvs
.venv/
venv/
env/
.env/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Logs
*.log

# Local logs / recordings
*.mslr

# OS / editor noise
.DS_Store
.vscode/
.idea/
